<app-header backButton="auth" title="Recuperar Contraseña"></app-header>

<ion-content>

  <div class="d-flex-center">

    <form [formGroup]="form" (ngSubmit)="submit()" class="auth-form" (keypress.enter)="submit()">

      <app-logo></app-logo>

      <!-- Input para el correo -->
      <ion-item class="custom-input" lines="none">
        <ion-icon slot="start" name="mail" color="success"></ion-icon>
        <ion-input formControlName="correo" color="success" type="email" labelPlacement="floating" label="Correo" clear-input="true"
          helperText="Ingresa tu correo" errorText="Correo inválido" [counter]="true" maxlength="35">
        </ion-input>
      </ion-item>

      <p class="ion-text-center">Ingresa tu correo para poder recuperar tu contraseña.</p>

      <ion-button class="submit" type="submit" expand="block" mode="ios" fill="solid" shape="round" color="success" [disabled]="form.invalid">
        Recuperar
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>

    </form>

  </div>

</ion-content>